* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 32px;
}

h1 {
    padding: 1rem;
}

.controls {
    flex-grow: 1;
    padding: 32px 0;
    width: 200px;
}

.image {
    flex-grow: 999;
    min-width: 75%;
}